* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #143434;
  height: 9svh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}
@media (1024px <= width < 1200px) {
  .header {
    height: 7.5svh;
  }
}
@media (width >= 1200px) {
  .header {
    height: 7.5svh;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
  }
}
.header .burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width >= 1200px) {
  .header .burger-menu {
    display: none;
  }
}
.header .burger-menu__burger {
  position: relative;
  height: 30px;
  width: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (767px <= width < 1024px) {
  .header .burger-menu__burger {
    height: 35px;
    width: 32px;
  }
}
@media (1024px <= width < 1200px) {
  .header .burger-menu__burger {
    height: 35px;
    width: 32px;
  }
}
@media (width >= 1200px) {
  .header .burger-menu__burger {
    height: 35px;
    width: 32px;
  }
}
.header .burger-menu__burger span, .header .burger-menu__burger::before, .header .burger-menu__burger::after {
  position: absolute;
  height: 12%;
  width: 100%;
  background-color: #fff;
}
.header .burger-menu__burger::before, .header .burger-menu__burger::after {
  content: "";
}
.header .burger-menu__burger::before {
  top: 4px;
}
.header .burger-menu__burger::after {
  bottom: 4px;
}
.header .navigation {
  position: absolute;
  top: 0;
  left: -75%;
  height: 100svh;
  width: 75%;
  background-color: #fff;
  z-index: 3;
  padding: 50px 0 0 30px;
  transition: all 0.25s ease-out;
}
@media (width >= 540px) {
  .header .navigation {
    left: -60%;
    width: 60%;
  }
}
@media (width >= 1024px) {
  .header .navigation {
    left: 7.5%;
    right: 7.5%;
    top: -90svh;
    width: 85%;
    height: 90svh;
    padding: 8svh 5%;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
  }
}
@media (width >= 1200px) {
  .header .navigation {
    display: none;
  }
}
.header .navigation--active {
  left: 0;
}
@media (width >= 1024px) {
  .header .navigation--active {
    top: 0;
    left: 7.5%;
  }
}
@media (width >= 1024px) {
  .header .navigation .icons-navigation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
}
.header .navigation .icons-navigation div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.header .navigation .icons-navigation img {
  height: 40px;
  width: 40px;
  margin-right: 12px;
}
@media (width >= 767px) {
  .header .navigation .icons-navigation img {
    height: 45px;
    width: 45px;
    margin-right: 14px;
  }
}
@media (width >= 1024px) {
  .header .navigation .icons-navigation img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }
}
.header .navigation .icons-navigation__homeIcon {
  height: 32px;
  width: 32px;
  margin-right: 20px;
}
@media (width >= 767px) {
  .header .navigation .icons-navigation__homeIcon {
    height: 36px;
    width: 36px;
    margin-right: 23px;
  }
}
@media (width >= 1024px) {
  .header .navigation .icons-navigation__homeIcon {
    height: 40px;
    width: 40px;
    margin-right: 25px;
  }
}
.header .navigation .icons-navigation a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}
@media (width >= 1024px) {
  .header .navigation .icons-navigation a {
    font-size: 1.3rem;
  }
}
.header .navigation .icons-navigation__nav-cross {
  position: absolute;
  right: 6%;
  top: 2svh;
  height: 4.5svh;
  width: 4.5svh;
  background-color: #f0f5f5;
  border-radius: 50%;
  cursor: pointer;
}
.header .navigation .icons-navigation__nav-cross::before, .header .navigation .icons-navigation__nav-cross::after {
  content: "";
  position: absolute;
  height: 5%;
  width: 60%;
  background-color: #0b1e1e;
}
.header .navigation .icons-navigation__nav-cross::before {
  top: 50%;
  transform: rotate(-45deg) translate(28%, 240%);
}
.header .navigation .icons-navigation__nav-cross::after {
  bottom: 50%;
  transform: rotate(45deg) translate(28%, -240%);
}
.header .navigation .cities-navigation {
  border-top: 2px solid #000;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header .navigation .cities-navigation .cities-block {
  margin: 0 0 2svh 31%;
}
.header .navigation .cities-navigation .cities-block a {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .navigation .cities-navigation .cities-block__flag {
  height: 60px;
  width: 60px;
  margin-right: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 1px solid #000;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header .logo img {
  margin: 3px;
  width: 6svh;
  height: 6svh;
}
@media (width >= 1024px) {
  .header .logo img {
    height: 4.5svh;
    width: 4.5svh;
    margin-right: 15px;
  }
}
@media (width >= 1200px) {
  .header .logo img {
    height: 5svh;
    width: 5svh;
  }
}
.header .logo span {
  color: #fff;
  font-size: 3.5svh;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}
@media (width >= 1024px) {
  .header .logo span {
    font-size: 2.8svh;
  }
}
@media (width >= 1200px) {
  .header .logo span {
    font-size: 3svh;
  }
}
.header .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width >= 1200px) {
  .header .search {
    justify-content: end;
  }
}
.header .search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
@media (width >= 767px) {
  .header .search img {
    width: 44px;
    height: 44px;
  }
}
.header .search__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 0 5%;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 3;
  height: 9svh;
  width: 100vw;
}
@media (width >= 540px) {
  .header .search__wrapper {
    justify-content: flex-end;
  }
}
@media (width >= 1200px) {
  .header .search__wrapper {
    height: 7.5svh;
  }
}
.header .search__input {
  height: 6svh;
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  background: transparent;
  font-size: 3.7svh;
  margin-right: 5%;
  padding: 0 10px;
}
@media (width >= 540px) {
  .header .search__input {
    width: 60%;
  }
}
@media (width >= 1200px) {
  .header .search__input {
    width: 30%;
  }
}
.header .search__cross {
  position: relative;
  height: 4.5svh;
  width: 4.5svh;
  cursor: pointer;
}
@media (width >= 1200px) {
  .header .search__cross {
    right: 4%;
    top: 0;
  }
}
.header .search__cross::before, .header .search__cross::after {
  content: "";
  position: absolute;
  height: 3%;
  width: 100%;
  background-color: #000;
}
.header .search__cross::before {
  top: 50%;
  transform: rotate(-45deg) translate(0%, -20%);
}
.header .search__cross::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0%, 20%);
}
.header .search__results {
  position: absolute;
  left: 0;
  top: 100%;
  height: 91svh;
  width: 100%;
  background-color: #f0f5f5;
}

.main .banner {
  height: 35svh;
  padding-top: 2svh;
  margin-bottom: 30px;
  background-size: cover !important;
  background-position: center !important;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (width >= 767px) {
  .main .banner {
    height: 55svh;
    margin-bottom: 50px;
  }
}
@media (width >= 1024px) {
  .main .banner {
    height: 45svh;
  }
}
@media (width >= 1200px) {
  .main .banner {
    margin: 5svh auto 8svh;
    height: 75svh;
    width: 85%;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  }
}
.main .banner h1 {
  font-size: 2.2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 25px rgb(0, 0, 0);
}
@media (width >= 540px) {
  .main .banner h1 {
    font-size: 2.9rem;
  }
}
@media (width >= 767px) {
  .main .banner h1 {
    font-size: 4rem;
  }
}
@media (width >= 1024px) {
  .main .banner h1 {
    font-size: 5rem;
  }
}
@media (width >= 1200px) {
  .main .banner h1 {
    font-size: 6rem;
  }
}
.main .banner h2 {
  font-size: 0.9rem;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}
@media (width >= 540px) {
  .main .banner h2 {
    font-size: 1rem;
  }
}
@media (width >= 767px) {
  .main .banner h2 {
    font-size: 1.4rem;
  }
}
@media (width >= 1024px) {
  .main .banner h2 {
    font-size: 1.75rem;
  }
}
@media (width >= 1200px) {
  .main .banner h2 {
    font-size: 2.1rem;
  }
}
.main .selectCity .sorting {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
@media (width >= 767px) {
  .main .selectCity .sorting {
    margin-bottom: 20px;
  }
}
@media (width >= 1024px) {
  .main .selectCity .sorting {
    margin-bottom: 30px;
  }
}
@media (width >= 1200px) {
  .main .selectCity .sorting {
    margin-bottom: 40px;
  }
}
.main .selectCity .sorting p {
  font-size: 1rem;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
@media (width >= 540px) {
  .main .selectCity .sorting p {
    font-size: 1.1rem;
  }
}
@media (width >= 767px) {
  .main .selectCity .sorting p {
    font-size: 1.6rem;
    margin-right: 22px;
  }
}
@media (width >= 1024px) {
  .main .selectCity .sorting p {
    font-size: 1.8rem;
    margin-right: 22px;
  }
}
@media (width >= 1200px) {
  .main .selectCity .sorting p {
    font-size: 1.8rem;
    margin: 0 26px;
  }
}
.main .selectCity .sorting__popularity--active, .main .selectCity .sorting__alphabet--active {
  font-weight: bold;
}
.main .selectCity .cities-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (width >= 1024px) {
  .main .selectCity .cities-block {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width >= 1200px) {
  .main .selectCity .cities-block {
    grid-template-columns: repeat(4, 1fr);
    width: 75%;
    margin: 0 auto;
  }
}
.main .selectCity .cities-block__city {
  margin-bottom: 10px;
  padding-left: 15%;
  display: flex;
}
@media (width >= 540px) {
  .main .selectCity .cities-block__city {
    margin-bottom: 12px;
    padding-left: 15%;
  }
}
@media (width >= 767px) {
  .main .selectCity .cities-block__city {
    margin-bottom: 15px;
    padding-left: 15%;
  }
}
@media (width >= 1024px) {
  .main .selectCity .cities-block__city {
    padding-left: 14%;
  }
}
@media (width >= 1200px) {
  .main .selectCity .cities-block__city {
    margin-bottom: 40px;
    padding-left: 30%;
  }
}
.main .selectCity .cities-block__city a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}
@media (540px <= width < 767px) {
  .main .selectCity .cities-block__city a {
    font-size: 1.1rem;
  }
}
@media (767px <= width < 1200px) {
  .main .selectCity .cities-block__city a {
    font-size: 1.5rem;
  }
}
@media (width >= 1200px) {
  .main .selectCity .cities-block__city a {
    font-size: 1.5rem;
  }
}
.main .selectCity .cities-block__flag {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 1px solid #000;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}
@media (540px <= width < 767px) {
  .main .selectCity .cities-block__flag {
    height: 45px;
    width: 45px;
  }
}
@media (767px <= width < 1024px) {
  .main .selectCity .cities-block__flag {
    height: 60px;
    width: 60px;
    margin-right: 18px;
  }
}
@media (1024px <= width < 1200px) {
  .main .selectCity .cities-block__flag {
    height: 60px;
    width: 60px;
    margin-right: 18px;
  }
}
@media (width >= 1200px) {
  .main .selectCity .cities-block__flag {
    height: 60px;
    width: 60px;
    margin-right: 18px;
  }
}

.footer {
  background-color: #0b1e1e;
  border-top: 3px solid #9e9e9e;
  color: #fff;
  padding-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 30px 0;
}
.footer .logo img {
  height: 48px;
  margin: 0 7px;
}
@media (width >= 767px) {
  .footer .logo img {
    height: 70px;
    margin: 0 7px;
  }
}
@media (width >= 1024px) {
  .footer .logo img {
    height: 80px;
    margin: 0 8px;
  }
}
.footer .logo p {
  margin: 0 7px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}
@media (width >= 767px) {
  .footer .logo p {
    font-size: 1.5rem;
  }
}
@media (width >= 1024px) {
  .footer .logo p {
    font-size: 1.7rem;
  }
}
.footer .navigation {
  display: flex;
  justify-content: center;
  padding: 0 45px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  transition: -webkit-text-decoration 0.3s linear;
  transition: text-decoration 0.3s linear;
  transition: text-decoration 0.3s linear, -webkit-text-decoration 0.3s linear;
}
.footer .navigation a {
  margin: 5px 10px;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}
@media (width >= 767px) {
  .footer .navigation a {
    font-size: 1.3rem;
  }
}
@media (width >= 1024px) {
  .footer .navigation a {
    font-size: 1.45rem;
  }
}
.footer .navigation a:hover {
  text-decoration: underline;
}
.footer .info {
  padding: 0 45px;
}
.footer .info p {
  font-size: 0.8rem;
  text-align: center;
  color: #c4c4c4;
  opacity: 80%;
}
@media (width >= 767px) {
  .footer .info p {
    font-size: 1rem;
  }
}
@media (width >= 1024px) {
  .footer .info p {
    font-size: 1.15rem;
  }
}

.hidden {
  display: none !important;
}

.blackout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100lvh;
  width: 100%;
  z-index: 2;
  background-color: #000;
  opacity: 60%;
}

.lockScrolling {
  position: fixed;
  left: 0;
  right: 0;
}/*# sourceMappingURL=style.css.map */