@use './variables.scss' as v;

.scroll-menu {
    height: 60px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    @media (width >= v.$breakpoint_md) {
        overflow-x: visible;
        justify-content: center;
    }
    @media (width >= v.$breakpoint_xxl) {
        height: 100px;
        margin-bottom: -45px;
    }
    a {
        text-decoration: none;
        padding: 0 15px; 
        transition: background-color 0.1s linear;
        @media (width >= v.$breakpoint_xxl) {
            padding: 0 25px;
        }
    }
    a:hover {
        background-color: #ecebeb;
    }
    a, span {
        color: #3b3b3b;
        white-space: nowrap;
        height: 40px;
        line-height: 40px;
        border-radius: 15px;
        margin: 0 10px;
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
        @media (width >= v.$breakpoint_xxl) {
            font-size: 1.3rem;
            height: 45px;
            line-height: 45px;
        }
    }
    &__location {
        background-color: #e1e1e1;
    }
    a.scroll-menu__location {
        margin-left: 30px;
    }
}
.scroll-menu::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.city-info {
    .discription {
        width: 90%;
        margin: 0 auto 40px;
        @media (width >= v.$breakpoint_xxl) {
            width: 60%;
            margin: 0 auto 70px;
        }
        p {
            margin-bottom: 10px;
            font-size: 1rem;
            line-height: 1.7;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
            @media (width >= v.$breakpoint_md) {
                font-size: 1.1rem;
                line-height: 1.8;
            }
            @media (width >= v.$breakpoint_xl) {
                font-size: 1.2rem;
                line-height: 1.9;
            }
            @media (width >= v.$breakpoint_xxl) {
                font-size: 1.4rem;
            }
        }
    }
    .photos {
        margin-bottom: 20px;
        height: 35svh;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        @media (width >= v.$breakpoint_xxl) {
            width: 85%;
            height: 50svh;
            margin: 0 auto;
        }
        img {
            margin: 0 10px;
            height: 30svh;
            width: 75%;
            object-fit: cover;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
            border-radius: 20px;
            @media (width >= v.$breakpoint_xxl) {
                height: 50svh;
                width: 100%;
                margin: 0 20px;
            }
        }
    }
    .photos::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}
.form-and-comments {
    background-color: v.$header-color;
    width: 100%;
    .form {
        width: 85%;
        margin: 0 auto;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        * {
            outline: none;
            border: none;
            padding: 0 10px;
            font-size: 1.2rem;
        }
        input {
            height: 2.2rem;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        textarea {
            height: 8.5rem;
            padding: 10px 10px;
            border-radius: 5px 5px 0 0;
            border-bottom: 2px solid v.$header-color;
            resize: none;
        }
        .buttons-wrapper {
            height: 3rem;
            background-color: #fff;
            border-bottom: 2px solid #000;
            border-radius: 0 0 5px 5px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &__button {
                height: 32px;
                color: #fff;
                font-size: 1rem;
                border-radius: 8px;
                transition: background-color 0.1s ease;
                &--grey {
                    background-color: v.$grey;
                }
                &--grey:hover {
                    background-color: #bbbbbb;
                }
                &--grey:active {
                    background-color: #8e8e8e;
                }
                &--green {
                    background-color: v.$header-color;
                }
                &--green:hover {
                    background-color: #245e5e;
                }
                &--green:active {
                    background-color: #0d2222;
                }
            }
        }
    }
}