$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 540px;

$header-color: #143434;
$footer-color: #0b1e1e;
$hidden-search-block-color: #f0f5f5;
$grey: #9e9e9e;
$white-text: #fff;
$black-text: #000;

$header-hight: 9svh;
$header-hight-1024: 7.5svh;